@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
@import "variables.scss";
@import "normalize.scss";
@import "mixins.scss";
@import "grid.scss";
@import "buttons.scss";

body {
    font-family: $muli;
    font-weight: normal;
    background: white;
}

h1 {
    background-image: linear-gradient(to bottom, #b0bec5, #607d8b);
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 40px auto 64px auto;
}

.disabled {
    color: red;
}

.fa:hover {
    cursor: pointer;
}

p {
    color: $dark-grey;
    font-size: 1em;
}

.grey-text {
    color: $grey;
}

.faded-text {
    color: $faded-grey;
}

header.top {
    position:relative;
    margin:1.5rem 0 6rem 0;
    text-align:center;
    h1 {
        display:inline-block;
        margin:0.5rem;
    }
    .button {
        position:absolute;
        right:0;
    }
}

.featured {
    position:relative;
    margin: 0px auto 50px auto;
    text-align: center;
    .avatar {
        float:left;
        margin-right:1.5rem;
        border-radius: 50%;
        width: 3.75rem;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .info {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        margin: auto 0 auto 0;
    }
    .description {
        font-size: 1.0em;
        color: $grey
    }
}

.social-container {
    position:absolute;
    right:-5rem;
    top:0;
    margin:0;
    a {
        display:block;
        margin:0;
    }
}

.full-width-btn {
    width: 100%;
    margin: 0 0 16px 0;
}

.no-border-btn {
    border: 0px;
    padding: 12px;
    &[disabled]:hover {
        border: 0px;
        text-decoration: none;
    }
    &:hover {
        border: 0px;
        text-decoration: underline;
    }
}

.container {
    padding:1.5rem;
    header {
        img {
            display:inline-block;
            vertical-align:middle;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        p {
            display:inline-block;
            vertical-align:middle;
            margin:0;
        }
    }
}

.ask-input.container {
    margin: 0 auto 1.5rem auto;
    padding:0;
    input {
        width: 100%;
        border: solid 1px $normal-border;
        outline: 0;
        padding: 11px 1.5rem 11px 1.5rem;
        @include border-radius(0.1875rem);
    }
}

.ask.container {
    margin: 0 auto 1.5rem auto;
    padding: 1.5rem;
    @include border-radius(0.1875rem);
    border: solid 1px $normal-border;
    p * {
        vertical-align:middle;
    }
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    textarea {
        margin-top:1rem;
        width: 100%;
        min-height: 30px;
        border: 0px;
        outline: 0;
        resize: none;
    }
}

.ask-open {
    border: 1px solid $grey;
    border-radius: 3px;
    padding: 1.5rem;
}

.qa-container {
    position:relative;
    margin-bottom: 1.5rem;
    border: 1px solid $normal-border;
    @include border-radius(0.1875rem);
}

.answer.container {
    border-top: 1px solid $light-border;
    background: $answer-bg;
    @include border-radius( 0 0 0.1875rem 0.1875rem);
    .like-block {
        display: inline-block;
        p {
            margin:0;
            color:$grey;
            * {
                vertical-align:middle;
            }
        }
        .like-btn-outline {
            color: $faded-grey;
        }
        .like-btn {
            color: $grey;
        }
    }
}

.vote-block {
    position:absolute;
    left:-2.5rem;
    margin-right: 0px;
    i {
        font-size:2.5rem;
        line-height:2rem;
    }
    p {
        margin: 0;
        text-align:center;
    }
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 49, 56, 0.6);
    transition: opacity .3s ease;
}

.modal-container {
    width: 336px;
    margin: 40px auto 0;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition: all .3s ease;

    .modal-body {
        margin: 0;
        padding: 0;
        input[type="text"], input[type="password"] {
            width: 100%;
            border-radius: 3px;
            border: solid 1px $light-grey;
            padding: 11px 1.5rem 11px 1.5rem;
            margin-bottom: 16px;
            &:focus {
                outline: 0;
                border: solid 1px $grey;
            }
        }
    }
}

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Social Icons */
.fa-facebook-official, .fa-facebook-square {
    color: #3b5998
}
.fa-twitter, .fa-twitter-square {
    color: #00aced
}

.fa-external-link {

}

.editable {
    display:inline-block;
    border: 0;
    min-height: 100px;
    width: 100%;
}
