@import url(../fonts/AvenirNext-Medium.eot);
@import url(../fonts/AvenirNext-Medium.woff);
@import url(../fonts/AvenirNext-Medium.woff2);
@import "variables.scss";
@import "normalize.scss";
@import "mixins.scss";
@import "grid.scss";
@import "buttons.scss";

body {
    font-family: $font;
    font-weight: normal;
    background: white;
    line-height:1.35;
}

h1 {
    background-image: linear-gradient(to bottom, #b0bec5, #607d8b);
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 40px auto 64px auto;
}

.disabled {
    color: red;
}

.fa:hover {
    cursor: pointer;
}

p {
    color: $dark-grey;
    font-size: 1em;
}

.grey-text {
    color: $grey;
}

.faded-text {
    color: $faded-grey;
}

article {
    p {
        margin:0.5rem 0;
    }
}

.file-input {
    position: absolute;
    opacity: 0;
    left: -100px;
    width: 0px;
    height: 0px;
}

header.top {
    position: relative;
    margin: 1.5rem 0 1.5rem 0;
    text-align: center;
    height: 3.5rem;
    z-index:5;
    h1 {
        display:inline-block;
        margin:0.5rem;
    }
    .login.button {
        position:absolute;
        right:0;
        margin-right:1rem;
    }
    .user-menu-button {
        position: absolute;
        top:0;
        right: 0;
        padding-bottom:7rem;
        padding-right:1rem;
        img {
            border-radius: 50%;
            width: 2rem;
            &:hover {
                cursor: pointer;
            }
        }
        .button:hover {
            text-decoration:none;
        }
        i {
            color:$grey;
        }
        label {
            margin-left:-2px;
            margin-right:8px;
        }
        .dropdown {
            background-color:#fff;
            display:none;
            position:absolute;
            top:3rem;
            right:0;
            padding:0rem;
            border: solid 1px #b0bec5;
            font-size:0.75rem;
            cursor:pointer;
            width:7rem;
            @include border-radius(3px);
            li {
                padding:0.25rem;
                &:hover {
                    background-color:lighten($faded-grey,15);
                }
                a {
                    color: black;
                    text-decoration: none;
                    &:hover {
                        background-color:lighten($faded-grey,15);
                    }
                }
            }
        }
        * {
            vertical-align:middle;
        }
    }
    .user-menu-button:hover > .dropdown {
        display:inline-block;
    }
}

.featured {
    position:relative;
    margin: 0 auto 2rem auto;
    text-align: center;
    min-height: 5rem;
    .avatar-container {
        float:left;
        margin-right:1.5rem;
        .avatar {
            border-radius: 50%;
            width: 3.75rem;
            height: auto;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }
        .edit-text {
            position: absolute;
            left: 0;
            text-align: center;
            top: 2.75rem;
            color:$grey;
            cursor:pointer;
            &:hover {
                border-bottom:1px solid $grey;
            }
        }
    }
    article {
        margin-left:5.25rem;
        text-align:left;
        .info {
            font-size:16px;
            display: inline-block;
            margin: 0 1rem 0 0;
        }
        .description {
            font-size: 14px;
            color: $faded-grey;
            margin: 0 1rem 0 0;
        }
        input {
            width:100%;
            color:$grey;
            @include border-box();
        }
        textarea {
            margin-top:1rem;
            border: solid 1px #b0bec5;
            color:$grey;
            outline: 0;
            padding: 11px 1.5rem 11px 1.5rem;
            background-clip: padding-box;
            width:100%;
            height:8.5rem;
            @include border-box();
            @include border-radius(0.1875rem);
        }
    }
}

.social-container {
    position:absolute;
    right:-5.5rem;
    top:-1px;
    margin:0;
    a {
        display:block;
        margin:0;
    }
}

.full-width-btn {
    width: 100%;
    margin: 0 0 16px 0;
}

.no-border-btn {
    border: 0px;
    padding: 12px;
    &[disabled]:hover {
        border: 0px;
        text-decoration: none;
    }
    &:hover {
        border: 0px;
        text-decoration: underline;
    }
}

.container {
    padding:1.5rem;
    header {
        img {
            display:inline-block;
            vertical-align:middle;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        p {
            display:inline-block;
            vertical-align:middle;
            margin:0;
        }
    }
}

input[type='text'] {
    border: solid 1px #b0bec5;
    outline: 0;
    padding: 11px 1.5rem 11px 1.5rem;
    background-clip: padding-box;
    @include border-radius(0.1875rem);
}

.ask-input.container {
    margin: 0 auto 1.5rem auto;
    padding:0;
    input {
        width: 100%;
    }
}

.ask.container {
    margin: 0 auto 1.5rem auto;
    padding: 1.5rem;
    @include border-radius(0.1875rem);
    border: solid 1px $normal-border;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    textarea {
        margin-top:1rem;
        width: 100%;
        min-height: 30px;
        border: 0px;
        outline: 0;
        resize: none;
    }
}

.answer.container, .ask.container, .question.container {
    header {
        margin: 0 0 0.5rem 0;
    }
    article{
        p {
            margin:0;
        }
    }
    .like-block {
        margin-top:0.5rem;
    }
    .reply {
        margin-top:0.75rem;
    }
}

.ask-open {
    border: 1px solid $grey;
    border-radius: 3px;
    padding: 1.5rem;
}

.qa-container {
    position:relative;
    margin-bottom: 1.5rem;
    border: 1px solid $normal-border;
    @include border-radius(0.1875rem);
}

.answer.container {
    border-top: 1px solid $light-border;
    background: $answer-bg;
    @include border-radius( 0 0 0.1875rem 0.1875rem);
    .video-embed {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
        iframe {
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
    }
    .like-block {
        display: inline-block;
        * {
            vertical-align:middle;
        }
        svg {
            cursor:pointer;
            height:1.5rem;
            width:1.375rem;
        }
        svg.static {
            padding-left:1px;
        }
        svg.hover {
            padding-right:1px;
            display:none;
        }
        svg.active {
            padding:0 0 0 1px;
        }
        p {
            margin:0;
            color:$grey;
            display:inline-block;
        }
        .like-icon:hover {
            svg.static {
                display:none;
            }
            svg.hover {
                display:inline-block;
            }
        }
        .like-btn-outline {
            color: $faded-grey;
        }
        .like-btn {
            color: $grey;
        }
        .edit {
            margin-left:1.5rem;
        }
    }
    textarea {
        background: $answer-bg;
        margin-top:1rem;
        width: 100%;
        min-height: 30px;
        border: 0px;
        outline: 0;
        resize: none;
    }
    input {
        padding: .5rem 1.0rem .5rem 1.0rem;
        width: 100%;
    }
}

.container {
    header {
        p {
            color:$grey;
        }
        img {
            margin-right:0.5rem;
        }
    }
}

.vote-block {
    position:absolute;
    left:-2.5rem;
    margin-right: 0px;
    i {
        font-size:2.5rem;
        line-height:2rem;
    }
    p {
        margin: 0;
        text-align:center;
    }
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 49, 56, 0.6);
    transition: opacity .3s ease;
}

.modal-container {
    width: 336px;
    margin: 40px auto 0;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition: all .3s ease;

    .modal-body {
        margin: 0;
        padding: 0;
        input[type="text"], input[type="password"] {
            width: 100%;
            border-radius: 3px;
            border: solid 1px $light-grey;
            padding: 11px 1.5rem 11px 1.5rem;
            margin-bottom: 1rem;
            &:focus {
                outline: 0;
                border: solid 1px $grey;
            }
        }
        .button {
            margin-bottom:1rem;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Social Icons */
.fa-facebook-official, .fa-facebook-square {
    color: #3b5998
}
.fa-twitter, .fa-twitter-square {
    color: #00aced
}

.fa-external-link {

}

.editable {
    display:inline-block;
    border: 0;
    min-height: 100px;
    width: 100%;
}

//SVG STUFF

.vote .svg-icon {
    height:15px;
    width:22px;
    cursor:pointer;
}

.up.vote {
    margin-bottom:4px;
}

.down.vote {
    margin-top:4px;
}

.vote .focus,
.vote .hover {
    display:none;
}

.vote:hover {
    .static, .focus {
        display:none;
    }
    .hover {
        display:block;
    }
}

.vote:active {
    .static, .hover {
        display:none !important;
    }
    .focus {
        display:block !important;
    }
}

.vote.disabled {
    .static, .hover {
        display:none !important;
    }
    .focus {
        display:block !important;
    }
}

footer {
    max-width:40.5rem;
    margin:3rem auto 1rem auto;
    text-align:center;
    a {
        text-decoration:none;
        font-size:1rem;
        color:$grey;
        &:visited {
            color:$grey;
        }
    }
}
