.button {
    margin: 0;
    padding: 12px 24px 12px 24px;
    border-radius: 3px;
    font-size: 1em;
    background-color: white;
    outline: none;
}

.button.full-width {
    width:100%;
    display:block;
    text-align:center;
    @include border-box();
}

.ghost.button {
    border: solid 1px $faded-grey;
    text-decoration:none;
    color: $grey;
    &:disabled {
        background-color: white;
        color: $faded-grey;
    }
    &[disabled]:hover {
        color: $faded-grey;
        border: solid 1px $faded-grey;
    }
    &:hover {
        border: solid 1px $grey;
    }
}

.ghost.button.facebook {
    color: $facebook-blue;
}

.clear.button {
    border: none;
    text-decoration:none;
    color: $grey;
    &:disabled {
        background-color: white;
        color: $faded-grey;
    }
    &[disabled]:hover {
        color: $faded-grey;
    }
    &:hover {
        text-decoration:underline;
    }
}

.social.button {
    font-size:0.75rem;
    width:4.5rem;
    color: $grey;
    border: solid 1px $faded-grey;
    color: $grey;
    text-decoration:none;
    text-align:center;
    padding:0.125rem;
    margin-bottom:0.5rem;
    @include border-box();
    &[disabled]:hover {
        border: solid 1px $faded-grey;
    }
    &:hover {
        border: solid 1px $grey;
    }
}

.social.button.website {
    * {
        vertical-align:middle;
    }
}
