$font: 'AvenirNext-Medium', sans-serif;

$faded-grey: #c2cdd3;
$light-grey: #b0bec5;
$grey: #607d8b;
$dark-grey: #263238;
$answer-bg: #f7f9fa;
$light-border: #eceff1;
$normal-border: #b0bec5;
$facebook-blue: #3b5998;
$desktop-min: 860px;
$mobile-max: 859px;
